<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>My Tiny File Server</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
<link th:href="@{/css/skin-win8/ui.fancytree.min.css}" rel="stylesheet"></link>
<script th:src="@{/js/jquery.fancytree-all-deps.min.js}" type="text/javascript"></script>
<script th:src="@{/js/fileserver.js}" type="text/javascript"></script>
<script type="text/javascript">
	$(onPageLoad);
</script>
</head>
<body>
    <h2>My Tiny File Server</h2>
    <div th:if="${not downloadSupported}">Download not supported</div>
    <div th:if="${downloadSupported}">
        <div id="downloadLabel"></div>
        <button id="download">
            <img alt="download" th:src="@{/images/file_download48.png}">
        </button>
        <!-- Define the targel element for the tree -->
        <div id="tree"></div>
    </div>
    <!-- upload -->
    <div th:if="${not uploadSupported}">Upload not supported</div>
    <div align="left" th:if="${uploadSupported}">
        <br />
        <div id="uploadLabel"></div>
        <button id="upload" onclick="uploadFile()">
            <img alt="upload" th:src="@{/images/file_upload48.png}">
        </button>
        <input type="file" id="file" name="file" />
    </div>
</body>
</html>